*{
    box-sizing: border-box;
}


.app {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 300px;
    display: grid;
    grid-template-areas:
		'total total total total'
		'modif modif del oper'
		'digit digit digit oper'
		'digit digit digit oper'
		'digit digit digit oper'
		'digit digit digit oper';
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    height: 500px;
}

button {
    font-size: 2rem;

}
.delete button{
    background-color: #ccc;
}

.modifiers button {
    background-color: #ccc;
}

.operations button {
    background-color: orange;
}

#total{
    grid-area: total;
    background-color: #333;
    display: flex;
    justify-content: right;
    align-items: flex-end;
    color: white;
    padding: 10px;
}

.digits{
    grid-area: digit;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.digits button{
    flex: 30%;
}
.modifiers{
    grid-area: modif;
}

.operations{
    grid-area: oper;
}

.subgrid{
    display: grid;
}